@import "./defaults.scss";

.logoText {
  font-family: "Croma Sans";
  font-size: $xxl-size;
  color: $green;
  transition: .7s;
}
.header-distancer{
    margin-bottom: 20px;
}
.logoTextMin {
    font-family: "Croma Sans";
    font-size: $xl-size;
}

@media (max-width: 1150px) and (min-width: 901px){
    .logoText{
        font-size: $xl-size;
    }
    .header-distancer{
        margin-bottom: 6px;
    }
}
@media (max-width: 900px) and (min-width: 769px){
    .logoText{
        font-size: $l-size;
    }
    .header-distancer{
        margin-bottom: 0px;
    }
}


@media (max-width: 768px){
    .logoText{
        width: 100%;
        text-align: center;
        font-size: $l-size;
        margin-bottom: 10px;
    }

    .logoTextMin {
        margin-bottom: 0;
    }
    .header-distancer{
        margin-bottom: 62px;
    }
}
.full-width-wrapper{
    width: 100%;
}



// SLIDER

.slider-container{
    // width: 90%;
    margin: 0 auto;
    height: 75vh;
    position: relative;
}
.slideshow-container {
    position: relative !important;
    height: 100%;
    width: 100%;
  }
  
  .slides {
    position: relative;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .showing-fade {
    opacity: 1;
    z-index: 2;
    animation-duration: 3s;
    animation-name: slide-fade;
  }

//   slide-fade-out
.showing-fade-out {
    opacity: 0;
    z-index: 1;
    animation-duration: 3s;
    animation-name: slide-fade-out;
}
  
  @keyframes slide-fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes slide-fade-out {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }